<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Computer Vision Projects</title>
</head>
<body>
    <h1>Computer Vision Projects</h1>
    <h2>Project 1: Panorama</h2>
    <form action="{{ url_for('panorama_stream') }}" method="post">
        <label for="num_images">Número de imágenes:</label>
        <input type="number" id="num_images" name="num_images" min="2" max="10" value="5">
        <input type="submit" value="Capturar imágenes">
    </form>
    <h2>Project 2: Object Tracking</h2>
    <a href="{{ url_for('object_tracking_stream') }}"><button>Ver Object Tracking</button></a>
    <h2>Project 3: Pose Estimation</h2>
    <a href="{{ url_for('pose_estimation_stream') }}"><button>Ver Pose Estimation</button></a>
    <h2>Project 4: Deteccion de Libros</h2>
    <button onclick="window.location.href='/book_detection'">Detección de libros</button>
</body>
</html>
